PREFIX=almx-lab
STORAGE=/mnt/valt
DOMAIN=example.com
SERVER_LOCAL_IP=192.168.0.200

CLOUDFLARE_API_TOKEN=replace-with-cloudflare-api-token
POSTGRES_USER=postgres
POSTGRES_PASSWORD=replace-with-strong-postgres-password
MALOJA_API_KEY=replace-with-maloja-api-key
SAMBA_PASSWORD=replace-with-samba-password
GITHUB_PERSONAL_ACCESS_TOKEN=replace-with-github-pat

# cfnview (Firebase)
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=
